<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression">
    <test name="Asset testing">
        <classes>
            <class name="tests.AssetTest"/>
        </classes>
    </test>

    <test name="Auth testing">
        <classes>
            <class name="tests.AuthTest"/>
        </classes>
    </test>

    <test name="Balance testing">
        <classes>
            <class name="tests.BalancesTest"/>
        </classes>
    </test>

    <test name="Buy Lumens testing">
        <classes>
            <class name="tests.BuyLumensTest"/>
        </classes>
    </test>

    <test name="Send testing">
        <classes>
            <class name="tests.SendTest"/>
        </classes>
    </test>

    <test name="Buy Lumens testing">
        <classes>
            <class name="tests.SetSecretPhraseTest"/>
        </classes>
    </test>

</suite>