<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression">
    <test name="Regression testing">
        <classes>
            <class name="test.AssetTest"/>
            <class name="test.AuthTest"/>
            <class name="test.BalancesTest"/>
            <class name="test.BuyLumensTest"/>
            <class name="test.SendTest"/>
            <class name="test.SetSecretPhraseTest"/>
        </classes>
    </test>
</suite>